body.show-tags.tag-app-shell,
body.show-tags .tag-app-shell,
body.show-tags.tag-mf-detail,
body.show-tags .tag-mf-detail {
  border: 3px solid #ff3e00;
  position: relative;
}

body.show-tags.tag-app-shell::before,
body.show-tags .tag-app-shell::before,
body.show-tags.tag-mf-detail::before,
body.show-tags .tag-mf-detail::before {
  content: "svelte";
  background-color: #ff3e00;
  top: 0;
  left: 0;
  color: white;
  padding: 0 0.5rem;
  position: absolute;
  z-index: 1;
  font-weight: 700;
}

body.show-tags.tag-app-shell::before,
body.show-tags .tag-app-shell::before {
  content: "app-shell (svelte)";
}

body.show-tags.tag-mf-detail::before,
body.show-tags .tag-mf-detail::before {
  content: "mf-detail (svelte)";
}

body.show-tags.tag-mf-browse,
body.show-tags .tag-mf-browse {
  border: 3px solid #61dafb;
  position: relative;
}

body.show-tags.tag-mf-browse::before,
body.show-tags .tag-mf-browse::before {
  content: "mf-browse (react)";
  background-color: #61dafb;
  top: 0;
  left: 0;
  color: white;
  padding: 0 0.5rem;
  position: absolute;
  z-index: 1;
  font-weight: 700;
}
