.card.card-custom {
  text-decoration: none;
  color: inherit;
}

.card.card-custom:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card.card-custom img {
  object-fit: contain;
}
