section.error-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  color: red;
}

.error-section .card {
  width: 30rem;
}

.error-section .card-title {
  font-size: 8rem;
  font-weight: 200;
}

.error-section p {
  font-size: 2rem;
  font-weight: 200;
}
