body.show-tags.svelte,
body.show-tags .svelte {
  border: 3px solid #ff3e00;
  position: relative;
}

body.show-tags.svelte::before,
body.show-tags .svelte::before {
  content: "Svelte";
  background-color: #ff3e00;
  top: 0;
  left: 0;
  color: white;
  padding: 0 0.5rem;
  position: absolute;
  z-index: 1;
  font-weight: 700;
}

body.show-tags.react,
body.show-tags .react {
  border: 3px solid #61dafb;
  position: relative;
}

body.show-tags.react::before,
body.show-tags .react::before {
  content: "React";
  background-color: #61dafb;
  top: 0;
  left: 0;
  color: white;
  padding: 0 0.5rem;
  position: absolute;
  z-index: 1;
  font-weight: 700;
}
